In [2]:
import pandas as pd

# Dataset Challenge

**TODO**: Load your animals dataset

In [9]:
df = pd.read_csv('../data/Animals.csv')
df.head()

   Age Type  Weight
0  1.0  cat    18.0
1  NaN  dog    30.0
2  5.0  dog     NaN
3  7.0  cat    12.0
4  NaN  cat    50.0

**TODO**: Create a function which finds the number of null values in each column and returns a dictionary with the column name as the `key` and the number of nulls as the the `values`

In [12]:
def num_null(df):
    """
    Takes a data frame and returns a dictionary with column names and total null values as the key value pairs
    """
    
    null_dict = {}
    for col in df.columns:
        nulls = df[col].isna().sum()
        null_dict[col] = nulls

    return null_dict

In [13]:
num_null(df)

{'Age': 2, 'Type': 1, 'Weight': 1}